@import 'https://stephanwagner.me/css/jBox/demo-html.css';
@import 'https://code.jboxcdn.com/themes/TooltipDark.css';

#demo-container {
  padding: 50px 0;
  text-align: center;
}

#demo-container .hover {
  margin: 5px;
}

#demo-container #demo-tooltip-mouse {
  padding: 30px 15px;
  max-width: 550px;
  width: calc(100% - 40px);
}