html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,caption, tfoot, thead, th{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}strong{font-weight:bold}em{font-style:italic}:focus{outline:0}body{line-height:1;color:black;background:white}ol, ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption, th, td{text-align:left;font-weight:normal}blockquote:before, blockquote:after, q:before, q:after{content:""}blockquote, q{quotes:"" ""}

@font-face {
	font-family: 'Bahnschrift';
	src:url('../fonts/bahnschrift.eot');
	src:url('../fonts/bahnschrift.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bahnschrift.woff') format('woff'),
		url('../fonts/bahnschrift.ttf') format('truetype'),
		url('../fonts/bahnschrift.svg#Bahnschrift') format('svg')
}
.effect {animation: luktet 4s linear infinite;}
@keyframes luktet {
0% {opacity: 1;}
50% {opacity: .1;}
100% {opacity: 1;}
}
html {
	overflow-y:scroll
}
#container {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	min-width:1580px;
	min-height:920px;
	background:#ffffff
}
#haz {
	width:1580px;
	height:866px;
	position:relative;
	top:50%;
	left:50%;
	margin-left:-790px;
	margin-top:-450px;
	background-image:url('../images/gerbeaud-haz.jpg');

}
#logo {
  float: left;
  margin-left: 305px;
  margin-top: 0px;
}
#mkvm {
  float: left;
  margin-left: 2px;
  margin-top: 80px;
}
/* IKONOK */
#balnyil {
	width:43px;
	height:43px;
	position:absolute;
	top:805px;
	left:400px;
	background-image:url('../images/nav_bal_nyil.png');
	background-position:0px 0px
}
#jobbnyil {
	width:43px;
	height:43px;
	position:absolute;
	top:805px;
	left:450px;
	background-image:url('../images/nav_jobb_nyil.png');
	background-position:0px 0px
}
#map {
	width:43px;
	height:43px;
	position:absolute;
	top:805px;
	left:500px;
	background-image:url('../images/nav_4irany.png');
	background-position:0px 0px
}
#video {
	width:64px;
	height:64px;
	position:absolute;
	top:784px;
	left:910px;
	background-image:url('../images/nav_video.png');
	background-position:0px 0px
}
#konyakosmeggy {
	width:64px;
	height:64px;
	position:absolute;
	top:784px;
	left:990px;
	background-image:url('../images/nav_konyakosmeggy.png');
	background-position:0px 0px
}
#info {
	width:64px;
	height:64px;
	position:absolute;
	top:784px;
	left:1070px;
	background-image:url('../images/nav_info.png');
	background-position:0px 0px
}
#eng {
	width:25px;
	height:24px;
	position:absolute;
	top:140px;
	left:1116px;
	background-image:url('../images/en1.png');
	background-position:0px 0px
}
#eng:hover {
	background-image:url('../images/en2.png');
	background-position:0px 0px
}
#hun {
	width:25px;
	height:24px;
	position:absolute;
	top:140px;
	left:1082px;
	background-image:url('../images/hu2.png');
	background-position:0px 0px
}
#hun:hover {
	background-image:url('../images/hu1.png');
	background-position:0px 0px
}
#nka {
	width:32px;
	height:167px;
	position:absolute;
	top:680px;
	left:320px;
	background-image:url('../images/nka_logo.png');
}
#title, title2,
#buborek2 {
	width:360px;
	height:72px;
	position:absolute;
	top:52px;
	left:800px;
	background-image:url('../images/gerbeaud_haz_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
	text-align:center;
	line-height:1.2em;
	font-family:'Bahnschrift', serif;
	font-size:18px;
	font-weight:400
}
#buborek2 {
	padding-top:62px
}
#buborek a:link,
#buborek a:visited,
#buborek2 a:link,
#buborek2 a:visited {
	color:black;
	text-decoration:underline
}
#buborek a:hover,
#buborek a:active,
#buborek2 a:hover,
#buborek2 a:active {
	color:black;
	text-decoration:none
}
/* HÁTTEREK */
#gerbeaud-cukraszda,
#gerbeaud-cukraszmuhely,
#gerbeaud-csaladiszalon,
#gerbeaud-dolgozoszoba,
#gerbeaud-csomagolomuhely,
#gerbeaud-tanmuhely,
#gerbeaud-dolgozoiszallas {
	width:1580px;
	height:866px;
	position: relative;
	top:50%;
	left:50%;
	margin-left:-790px;
	margin-top:-450px;
background-color: aqua;
}
#gerbeaud-cukraszda {
	background:url('../images/cukraszda_alap2.jpg') 0 0 no-repeat;
}
#gerbeaud-cukraszmuhely {
	background:url('../images/cukraszmuhely_alap2.jpg') 0 0 no-repeat
}
#gerbeaud-csaladiszalon {
	background:url('../images/csaladiszalon_alap2.jpg') 0 0 no-repeat
}
#gerbeaud-dolgozoszoba {
	background:url('../images/dolgozoszoba_alap2.jpg') 0 0 no-repeat
}
#gerbeaud-csomagolomuhely {
	background:url('../images/csomagolomuhely_alap2.jpg') 0 0 no-repeat
}
#gerbeaud-tanmuhely {
	background:url('../images/tanmuhely_alap2.jpg') 0 0 no-repeat
}
#gerbeaud-dolgozoiszallas {
	background:url('../images/dolgozoiszallas_alap2.jpg') 0 0 no-repeat
}
/* FELIRATOK */
#title-cukraszmuhely {
	width:405px;
	height:71px;
	position:absolute;
	top:54px;
	left:760px;
	background-image:url('../images/cukraszmuhely_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-cukraszda {
	width:287px;
	height:70px;
	position:absolute;
	top:54px;
	left:870px;
	background-image:url('../images/cukraszda_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-csaladi-szalon {
	width:412px;
	height:73px;
	position:absolute;
	top:54px;
	left:750px;
	background-image:url('../images/csaladiszalon_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-dolgozoszoba {
	width:412px;
	height:73px;
	position:absolute;
	top:54px;
	left:750px;
	background-image:url('../images/dolgozoszoba_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-csomagolomuhely {
	width:520px;
	height:74px;
	position:absolute;
	top:54px;
	left:634px;
	background-image:url('../images/csomagolomuhely_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-tanmuhely {
	width:273px;
	height:74px;
	position:absolute;
	top:54px;
	left:880px;
	background-image:url('../images/tanmuhely_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#title-dolgozoiszallas {
	width:481px;
	height:74px;
	position:absolute;
	top:54px;
	left:674px;
	background-image:url('../images/dolgozoiszallas_felirat.png');
	background-position:0px 0px;
	padding-top:0px;
}
#div {
	font-family:'IMFELLDoublePicaRoman', serif;
	font-size:36px;
	margin-top:15px
}
/* BUBORÉKOK */
/* Cukrászműhely */
.cukrasz0 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8AgCQAEHwEaXsb4awAAAABJRU5ErkJggg==);
	width:90px;
	height:280px;
	position:absolute;
	top:290px;
	left:280px;
}
.cukrasz1 {
	/*background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z/C/HgAGgwJ/lK3Q6wAAAABJRU5ErkJggg==);*/
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:98px;
	height:330px;
	position:absolute;
	top:368px;
	left:520px;
}
.cukrasz2 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:80px;
	height:150px;
	position:absolute;
	top:368px;
	left:1076px;
}
.cukrasz3 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:40px;
	height:74px;
	position:absolute;
	top:362px;
	left:720px;
}
.cukrasz4 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:50px;
	height:74px;
	position:absolute;
	top:362px;
	left:800px;
}
.cukrasz5 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:42px;
	height:54px;
	position:absolute;
	top:378px;
	left:866px;
}
.cukrasz6 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:50px;
	height:74px;
	position:absolute;
	top:377px;
	left:952px;
}
/* BUBORÉKOK */
/* Cukrászda */
.vasarlo1 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:30px;
	height:90px;
	position:absolute;
	top:400px;
	left:654px;
}
.vasarlo2 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:30px;
	height:100px;
	position:absolute;
	top:400px;
	left:685px;
}
.ferfi1 {
	width:50px;
	height:140px;
	position:absolute;
	top:490px;
	left:480px;
}
.holgy {
	width:50px;
	height:140px;
	position:absolute;
	top:505px;
	left:540px;
}
.kislany {
	width:40px;
	height:180px;
	position:absolute;
	top:488px;
	left:1086px;
}
/* BUBORÉKOK */
/* Családi szalon */
.csalad1 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:76px;
	height:240px;
	position:absolute;
	top:295px;
	left:920px;
}
.csalad2 {
	background:    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
	width:60px;
	height:130px;
	position:absolute;
	top:350px;
	left:997px;
}
/* BUBORÉKOK */
/* Csomagoló műhely */
.csomagolo {
	width:130px;
	height:280px;
	position:absolute;
	top:360px;
	left:990px;
}
/* BUBORÉKOK */
/* Dolgozói szállás */
.lakotars {
	width:94px;
	height:256px;
	position:absolute;
	top:371px;
	left:808px;
}

/* AKTíV ELEMEK */
/* 1-Gerbeaud-ház */
#auto {
	width:327px;
	height:135px;
	position:absolute;
	z-index: 99;
	top:648px;
	left:358px
}
#cukraszmuhely {
	width:394px;
	height:104px;
	position:absolute;
	top:647px;
	left:655px
}
#cukraszda {
	width:962px;
	height:98px;
	position:absolute;
	top:552px;
	left:352px
}
#cimer {
	width:42px;
	height:41px;
	position:absolute;
	top:561px;
	left:1141px;
	z-index: 1;
}
#kirakat {
	width:173px;
	height:144px;
	position:absolute;
	top:569px;
	left:1084px
}
#dolgozoszoba {
	width:215px;
	height:80px;
	position:absolute;
	top:478px;
	left:1085px
}
#csaladiszalon {
	width:575px;
	height:73px;
	position:absolute;
	top:479px;
	left:469px
}
#csomagolomuhely {
	width:650px;
	height:80px;
	position:absolute;
	top:411px;
	left:621px
}
#tanmuhely {
	width:712px;
	height:109px;
	position:absolute;
	top:324px;
	left:577px
}
#dolgozoiszallas {
	width:432px;
	height:137px;
	position:absolute;
	top:225px;
	left:834px
}
/* AKTí­V ELEMEK */
/* 2-Cukrászműhely */
#cukraszmuhelyfenyek {
	width:200px;
	height:95px;
	position:absolute;
	top:280px;
	left:787px
}
#szurkefickok {
	width:285px;
	height:96px;
	position:absolute;
	top:364px;
	left:714px;
}
#bubi-2 {
	width:493px;
	height:163px;
	position:absolute;
	top:281px;
	left:613px;
	display:none;
}
#uvegek {
	width:82px;
	height:83px;
	position:absolute;
	top:433px;
	left:736px
}
#szeletel {
	width:146px;
	height:49px;
	position:absolute;
	top:482px;
	left:516px
}
#cetlik {
	width:61px;
	height:62px;
	position:absolute;
	top:380px;
	left:493px
}
#ananasz {
	width:61px;
	height:61px;
	position:absolute;
	top:499px;
	left:643px
}
#gyumolcs {
	width:62px;
	height:62px;
	position:absolute;
	top:453px;
	left:896px
}
#torta {
	width:62px;
	height:62px;
	position:absolute;
	top:414px;
	left:1025px
}
/* AKTíV ELEMEK */
/* 3-Cukrászda */
#cukifenyek {
	width:746px;
	height:200px;
	position:absolute;
	top:159px;
	left:452px
}
#cukivirag {
	width:62px;
	height:62px;
	position:absolute;
	top:574px;
	left:620px
}
#cukikave {
	width:62px;
	height:62px;
	position:absolute;
	top:600px;
	left:704px
}
#cukidoboz {
	width:62px;
	height:62px;
	position:absolute;
	top:356px;
	left:1147px
}
#kekno {
	width:260px;
	height:244px;
	position:absolute;
	top:420px;
	left:959px;
}
#bubi-5 {
	width:453px;
	height:179px;
	position:absolute;
	top:339px; /*339*/
	left:898px;
	display:none;
}
#lilano {
	width:386px;
	height:246px;
	position:absolute;
	top:485px;
	left:472px
}
#bubi-4 {
	width:490px;
	height:124px;
	position:absolute;
	top:389px;
	left:396px;
	display:none;
}
#vasarlok {
	width:47px;
	height:103px;
	position:absolute;
	top:451px;
	left:690px
}
#kalapterulet {
	width:100px;
	height:120px;
	position:absolute;
	top:528px;
	left:952px;
}
#kalap {
	width:37px;
	height:34px;
	position:absolute;
	top:0px; /*523*/
	left:82px; /*1032*/
}
/* AKTíV ELEMEK */
/* 4-Családi szalon */
#kandallodisz {
	width:61px;
	height:61px;
	position:absolute;
	top:308px;
	left:782px
}
#kandallotuz {
	width:135px;
	height:59px;
	position:absolute;
	top:411px;
	left:746px
}
#asszony {
	width:252px;
	height:308px;
	position:absolute;
	top:342px;
	left:446px
}
#g-emil {
	width:282px;
	height:313px;
	position:absolute;
	top:345px;
	left:891px
}
#nagylany {
	width:145px;
	height:242px;
	position:absolute;
	top:293px;
	left:908px
}
#bubi-1 {
	width:400px;
	height:142px;
	position:absolute;
	top:208px;
	left:778px;
	display:none
}
#ugralolany {
	width:76px;
	height:203px;
	position:absolute;
	top:410px;
	left:702px
}
#szobor {
	width:61px;
	height:61px;
	position:absolute;
	top:262px;
	left:1168px
}
/* AKTíV ELEMEK */
/* 5-Dolgozó szoba */
#konyvek {
	width:62px;
	height:62px;
	position:absolute;
	top:330px;
	left:728px
}
#level {
	width:53px;
	height:55px;
	position:absolute;
	top:472px;
	left:830px
}
#gerbeaud {
	width:288px;
	height:319px;
	position:absolute;
	top:360px;
	left:553px
}
#kuglerkep {
	width:173px;
	height:266px;
	position:absolute;
	top:181px;
	left:382px
}
#gerbeaudkep {
	width:125px;
	height:169px;
	position:absolute;
	top:239px;
	left:820px
}
#lovagkep {
	width:101px;
	height:159px;
	position:absolute;
	top:183px;
	left:1200px
}
/* AKTíV ELEMEK */
/* 6-Csomagoló műhely */
#doboz {
	width:60px;
	height:60px;
	position:absolute;
	top:473px;
	left:464px
}
#nehezek {
	width:60px;
	height:60px;
	position:absolute;
	top:507px;
	left:612px
}
#papirtekercs {
	width:60px;
	height:60px;
	position:absolute;
	top:356px;
	left:691px
}
#papirkupac {
	width:142px;
	height:67px;
	position:absolute;
	top:545px;
	left:796px
}
#csomagolo {
	width:241px;
	height:386px;
	position:absolute;
	top:362px;
	left:925px
}
#bubi-6 {
	width:304px;
	height:163px;
	position:absolute;
	top:198px;
	left:822px;
	display:none;
}
/* AKTí­V ELEMEK */
/* 7-Tanműhely */
#asztal {
	width:721px;
	height:226px;
	position:absolute;
	top:578px;
	left:335px
}
#tancukrasz {
	width:466px;
	height:235px;
	position:absolute;
	top:385px;
	left:493px
}
#tyuktal {
	width:60px;
	height:60px;
	position:absolute;
	top:593px;
	left:514px
}
#habnyomo {
	width:60px;
	height:60px;
	position:absolute;
	top:547px;
	left:565px
}
#keverotal {
	width:60px;
	height:60px;
	position:absolute;
	top:471px;
	left:771px
}
#bubi-3 {
	width:720px;
	height:159px;
	position:absolute;
	top:275px;
	left:386px;
	display:none;
}
/* AKTí­V ELEMEK */
/* 8-Dolgozói szoba */
#borond1 {
	width:60px;
	height:60px;
	position:absolute;
	top:509px;
	left:565px
}
#borond2 {
	width:60px;
	height:60px;
	position:absolute;
	top:614px;
	left:942px
}
#konyvek2 {
	width:60px;
	height:60px;
	position:absolute;
	top:442px;
	left:1038px
}
#festmeny {
	width:54px;
	height:73px;
	position:absolute;
	top:295px;
	left:724px
}
#barnano {
	width:501px; /*199px*/
	height:378px;
	position:absolute;
	top:355px;
	left:385px;
}
#bubi-7 {
	width:529px;
	height:220px;
	position:absolute;
	top:253px;
	left:475px;
	display:none;
}
/* AKTí­V ELEMEK */
/* Üzletek */
#uzlet1 {
	width:153px;
	height:114px;
	position:absolute;
	top:139px;
	left:370px
}
#uzlet2 {
	width:103px;
	height:119px;
	position:absolute;
	top:310px;
	left:172px
}
#uzlet3 {
	width:134px;
	height:168px;
	position:absolute;
	top:264px;
	left:274px
}
#uzlet4 {
	width:125px;
	height:119px;
	position:absolute;
	top:359px;
	left:384px
}
#uzlet5 {
	width:133px;
	height:168px;
	position:absolute;
	top:263px;
	left:488px
}
#uzlet6 {
	width:103px;
	height:116px;
	position:absolute;
	top:310px;
	left:621px
}

.hiddenPic {
	display:none
}

.popupText {
    position: absolute;
	padding: 20px;
    border: 2px solid #999;
	border-radius: 8px;
	box-shadow: 10px 10px 60px #555;
    height: auto;
    max-width: 585px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    display: none;
	font-family:'Bahnschrift', serif;
	font-size:18px;
	font-weight:400;
    background: white;
	z-index: 100;
}
.popupMap {
    position: absolute;
	padding: 20px;
    border: 2px solid #999;
	border-radius: 8px;
	box-shadow: 10px 10px 60px #555;
    height: auto;
    max-width: 525px;
    min-height: 540px;
    vertical-align: middle;
    width: 60%;
    display: none;
	color:black;
	background-color: rgba(222, 222, 222, 0.8);
	z-index: 100;
}
.popupShop {
    position: absolute;
	padding: 5px;
    border: 2px solid #999;
	border-radius: 8px;
	box-shadow: 10px 10px 60px #555;
    height: auto;
    max-width: 912px;
    min-height: 540px;
    vertical-align: middle;
    width: 80%;
    display: none;
	color:black;
	background-color: rgba(222, 222, 222, 0.8);
	z-index: 100;
}
.popupCloseButton {
    background: white;
	color: #555;
    border: 2px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
#infotext1 {
	top:200px;
	left:500px;
}
#infotext2 {
	top: 170px;
	left:500px;
}
#infotext3 {
	top: 130px;
	left:300px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#dialog-message {
	padding: 20px;
    border: 2px solid #999;
	border-radius: 8px;
	box-shadow: 10px 10px 60px #555;
    height: auto;
    max-width: 585px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    display: none;
	font-family:'Bahnschrift', serif;
	font-size:18px;
	font-weight:400;
    background: rgba(125, 223, 236, 0.95);
}
/* Üzletek */
.uzletek-class {
	position: relative;
	width:900px;
	height:630px;
	background-position: left top;
	background-image:url('../images/uzletek.jpg');

}
/* Ugráló kislány */
.girl {
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
}
.ugrik {
	animation-name: ugrik-hopp;
	animation-timing-function: ease;
}
@keyframes ugrik-hopp {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-100px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

/* Kalap leesik */
.drop {
	animation: drop 1.2s forwards;
  }
  @keyframes drop {
	0% {
	  transform-origin: center;
	  opacity: 1;
	}
	20% {
	  transform: 
		translate3d(0, 20px, 0)
		rotate3d(0, 0, 1, -10deg);
	  opacity: 1;
	}
	40%, 45% {
	  transform: 
		translate3d(0, -20px, 0)
		rotate3d(0, 0, 1, 10deg);
	  opacity: 1;
	}
	to {
	  opacity: 1;
	  transform: 
		translate3d(0, 110px, 0)
		rotate3d(0, 0, 0, 0deg);
	}
  }

/* Kés, üvegek remegés */
  @-webkit-keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
    50% {-webkit-transform: translate(0px, -2px) rotate(0deg);}
    75% {-webkit-transform: translate(-2px, 0px) rotate(3deg);}
    100% {-webkit-transform: translate(0px, 2px) rotate(0deg);} 
}

.rumble, .rumble-hover:hover, .rumble-active:active {
    -webkit-animation: rumble .25s infinite linear;
}
/* Térkép */
  .popupMap {
	font-family: "Tahoma";
	/*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 15px;
	}
.kor-menu li {
	  list-style: none;
	  display: inline;
	}
.kor-menu {
		position: relative;
		width: 24em;
		height: 24em;
	/* 	border: dashed 2px #cccccc;
		border-radius: 50%; 
		margin: 5em auto 7em; */
	}
	.kor-menu a {
	  display: block;
	  position: absolute;
	  top: 75%; 
	  left: 75%;
	  width: 2.2em; height: 2.2em;
	  margin: -3.5em;
	  -moz-border-radius: 4em;
	  -webkit-border-radius: 4em;
	  border-radius: 4em;
	  color: black;
	  text-indent: -9999px;
	  box-sizing: border-box;
	}
	
	.kor-menu a.egy {background:#ff0000;opacity: 0.6;}
	.kor-menu a.ketto  {background:#f7931e;opacity: 0.6;}
	.kor-menu a.harom {background:#fcee21;opacity: 0.6;}
	.kor-menu a.negy {background:#fa7f00;opacity: 0.6;}
	.kor-menu a.ot {background:#8cc63f;opacity: 0.6;}
	.kor-menu a.hat {background:#057f42;opacity: 0.6;}
	.kor-menu a.het  {background:#00e5e5;opacity: 0.6;}
	.kor-menu a.nyolc {background:#426ffc;opacity: 0.6;}
	.kor-menu a.kilenc {background:#9350d8;opacity: 0.6;}
	.kor-menu a.tiz {background:#ff00ff;opacity: 0.6;}
	
	.kor-menu a.egy:hover {background:#ff0000;opacity: 1.0;}
	.kor-menu a.ketto:hover {background:#f7931e;opacity: 1.0;}
	.kor-menu a.harom:hover {background:#fcee21;opacity: 1.0;}
	.kor-menu a.negy:hover {background:#fa7f00;opacity: 1.0;}
	.kor-menu a.ot:hover {background:#8cc63f;opacity: 1.0;}
	.kor-menu a.hat:hover {background:#057f42;opacity: 1.0;}
	.kor-menu a.het:hover {background:#00e5e5;opacity: 1.0;}
	.kor-menu a.nyolc:hover {background:#426ffc;opacity: 1.0;}
	.kor-menu a.kilenc:hover {background:#9350d8;opacity: 1.0;}
	.kor-menu a.tiz:hover {background:#ff00ff;opacity: 1.0;}
	
	/* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
	 /* 360/10= 36 = 10 elements rotate the element every 36deg. 12em? translate is half the container */
	.kor-menu .egy { transform: rotate(36deg) translate(12em) rotate(-36deg); -webkit-transform: rotate(36deg) translate(12em) rotate(-36deg); -ms-transform: rotate(36deg) translate(12em) rotate(-36deg);}
	.kor-menu .ketto { transform: rotate(72deg) translate(12em) rotate(-72deg); -webkit-transform: rotate(72deg) translate(12em) rotate(-72deg); -ms-transform: rotate(72deg) translate(12em) rotate(-72deg);}
	.kor-menu .harom { transform: rotate(108deg) translate(12em) rotate(-108deg); -webkit-transform: rotate(108deg) translate(12em) rotate(-108deg); -ms-transform: rotate(108deg) translate(12em) rotate(-108deg);}
	.kor-menu .negy { transform: rotate(144deg) translate(12em) rotate(-144deg); -webkit-transform: rotate(144deg) translate(12em) rotate(-144deg); -ms-transform:rotate(144deg) translate(12em) rotate(-144deg);}
	.kor-menu .ot { transform: rotate(180deg) translate(12em) rotate(-180deg); -webkit-transform: rotate(180deg) translate(12em) rotate(-180deg); -ms-transform: rotate(180deg) translate(12em) rotate(-180eg);}
	.kor-menu .hat { transform: rotate(216deg) translate(12em) rotate(-216deg); -webkit-transform: rotate(216deg) translate(12em) rotate(-216deg); -ms-transform: rotate(216deg) translate(12em) rotate(-216deg);}
	.kor-menu .het { transform: rotate(252deg) translate(12em) rotate(-252deg); -webkit-transform: rotate(252deg) translate(12em) rotate(-252deg); -ms-transform: rotate(252deg) translate(12em) rotate(-252deg);}
	.kor-menu .nyolc { transform: rotate(288deg) translate(12em) rotate(-288deg); -webkit-transform: rotate(288deg) translate(12em) rotate(-288deg); -ms-transform: rotate(288deg) translate(12em) rotate(-288deg);}
	.kor-menu .kilenc { transform: rotate(324deg) translate(12em) rotate(-324deg); -webkit-transform: rotate(324deg) translate(12em) rotate(-324deg); -ms-transform: rotate(324deg) translate(12em) rotate(-324deg);}
	.kor-menu .tiz { transform: rotate(360deg) translate(12em) rotate(-360deg); -webkit-transform: rotate(360deg) translate(12em) rotate(-360deg); -ms-transform: rotate(360deg) translate(12em) rotate(-360deg);}